.btn {
  color: #4f4f4f;
}
.btnActive {
  color: #14b769;
  background-color: rgba(20, 183, 105, 0.05);
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
/* .rdw-editor-toolbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  z-index: 2;
  left: 220px;
}
.rdw-block-dropdown {
  width: 61px !important;
}
.rdw-fontfamily-dropdown {
  width: 63px !important;
}
.public-DraftStyleDefault-block {
  margin: 10em 0;
}
.wrapper-class rdw-editor-wrapper {
  min-height: 200px;
}
.notranslate > div {
  min-height: 300px;
}
.rdw-image-modal,
.rdw-embedded-modal {
  top: 50% !important;
  left: 50% !important;
  position: fixed !important;
} */
.mantine-Group-root {
  background: white;
  z-index: 1;
  position: absolute !important;
  top: 100px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
